body{
    margin:0;
    padding:0;
    background-color: rgb(0, 225, 255);
    overflow-y: hidden;
}
.background{
    width: 1025px;
    height: 90vh;
    margin: 30px auto;
    box-shadow:10px 10px 50px grey;
    background-image: url('./image/sky9.jpg');
    background-repeat:repeat-x;
    position: relative;
    overflow: hidden;
    background-size: auto;
}
.road{
    width: 100%;
    height: 111px;
    background-image: url('./image/road9.jpg');
    position: absolute;
    background-repeat: repeat-x;
    bottom: 0px;

}
.car1{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 15px;
    right:10%;
}
.car2{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -35px;
    left:10%;
}
.bird1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left:8%;

}
.bird2{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30px;
    right:8%;

}
#btn1{
    position: absolute;
    left: 10%;
    z-index: 1;
}
#btn,#rbtn{
    background-color: yellow;
    font-size: 20px;
    border:3px solid rgb(11, 216, 216);
}
#btn:hover{
    border-color: whitesmoke;
    box-shadow: 2px 5px 20px rgb(119, 115, 115);
}
#btn2{
    position: absolute;
    right: 10%;
    z-index: 1;
}
#rbtn:hover{
    border-color: whitesmoke;
    box-shadow: 2px 5px 20px rgb(119, 115, 115);
}
#bench1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 320px;
    left: 110px;
}
#bench2{
    width: 100px;
    height: 100px;
    top: 327px;
    position: absolute;
    left: 590px;
}
#bench3{
    width: 100px;
    height: 100px;
    top: 300px;
    position: absolute;
    left: 380px;
}
#ballon{
     width: 100px;
     height: 100px;
     position: absolute;
     top:300px ;
     right: 300px;    
}  
#boy{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 305px;
    right: 0;
}
